<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h1>Products</h1>
      <% if signed_in? %>
        <div class="text-right">
          <%= link_to 'Publish Product', new_product_path, class: "btn btn-primary mt-2 mb-3" %>
        </div>
      <% end %>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>URL</th>
          <th>Description</th>
          <th></th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, product %></td>
            <td><%= product.url %></td>
            <td><%= product.description %></td>
            <td>
              <% if signed_in? %>
                <%= link_to "Edit", edit_product_path(product) %>
                <%= link_to "Delete", product, method: :delete, data: { confirm: "Are you Sure?"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
